@inherits LayoutComponentBase

<PageTitle>FeedbackAppUI</PageTitle>

<div class="page">


    <main class="container-xxl">
        <div class="px-5 pt-3 nav-links">
            <a class="login-link" href="/Salesperson">Salesperson</a>
            <a class="login-link" href="/Vehicles">Vehicle</a>
            <a class="login-link" href="/report">Report</a>
            <LoginDisplay></LoginDisplay>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
